html{
    background-color:#3b5c8a ;
}

body{
    width: 600px;
    background-color:#1C4648;
    margin: auto;
    padding: 0 30px 30px 30px;
    border: 2px solid black;
    color: wheat;
}   
 h1{
    color:azure;
    font-size: 50px;
    text-align: center;
    text-shadow: 5px 5px 2px black;
 }

 p{
color: white;
 }

 a{
    color: antiquewhite;
    font size: 12px; 
 }